In [1]:
print("HOPE AI")

HOPE AI

In [3]:
Name=(input("Enter your institute name?:"))

Enter your institute name?: HOPE AI

In [5]:
Name=(input("Enter your name:"))
Age=int(input("Enter your age:"))
School_name=(input("Enter your school name:"))
Degree=(input("Enter your degree:"))

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

In [6]:
a = 43
b = 34
add = a + b

print("a =", a)
print("b =", b)
print("add =", add)

a = 43
b = 34
add = 77

In [7]:
a = 43
b = 34
Sub = a - b

print("a =", a)
print("b =", b)
print("Sub =", Sub)

a = 43
b = 34
Sub = 9

In [8]:
a = 63
b = 97
Mul = a * b

print("a =", a)
print("b =", b)
print("Mul =", Mul)

a = 63
b = 97
Mul = 6111

In [9]:
a = 76
b = 31
Float_Div = a / b

print("a =", a)
print("b =", b)
print("Float Div =", Float_Div)

a = 76
b = 31
Float Div = 2.4516129032258065

In [10]:
a = 76
b = 31
Floor_Div = a // b

print("a =", a)
print("b =", b)
print("Floor Div =", Floor_Div)

a = 76
b = 31
Floor Div = 2

In [11]:
a = 76
b = 31
Modulo = a % b

print("a =", a)
print("b =", b)
print("Modulo =", Modulo)

a = 76
b = 31
Modulo = 14

In [12]:
a = 4
b = 4
Power = a ** b

print("a =", a)
print("b =", b)
print("Power =", Power)

a = 4
b = 4
Power = 256