In [4]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for num in range(10, 20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [7]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of items in the List2:", len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2: 7

In [8]:
text = "Artificial Intelligence"
print(text)
for char in text:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [13]:
my_tuple = (1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [4]:
nested_tuple = ((0, 1, 2, 3), ('python', 'HOPE'))
print(nested_tuple)

((0, 1, 2, 3), ('python', 'HOPE'))

In [5]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)
for num in numbers:
    if ((num % 2 == 1)):
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [6]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)
for num in numbers:
    if ((num % 2 == 0)):
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even